<a href="https://colab.research.google.com/github/urfavnada/GDSC-Tasks/blob/main/TASK_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task_1

# <font color='red'> 1) Mark down all the Valid boolean expression in python: </font> 

#### A) n > 100 and < 500
#### B) n > 100 and n < 500
#### C) 100 < n < 500

In [ ]:
A = False #@param {type:"boolean"} 
B = True #@param {type:"boolean"} 
C = True #@param {type:"boolean"}


# <font color='red'> 2) Fill the gaps to get the ouput as in the example below:
##### (For any string greater than 3 characters)
#### **Input**: "globalization" 
#### **Output**: g11n
#### **
#### **Input**: "subjective" 
#### **Output**: s8e
#### **

### YOUR CODE: 
<font color='brown'> **s = input()** 
<br> **print(... + ... + ...)**

In [2]:
s = input()
print(s[0] + str(len(s[1:-1])) + s[-1])

subjective
s8e

# <font color='red'> 3) Create a tuple of 10 elements and then multiply each element of the tuple by 2 & save the results in a list

In [3]:
my_tuple = (1,2,3,4,5,6,7,8,9,10)
my_list = []
for i in my_tuple :
    my_list.append(i * 2)
print(my_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# <font color='red'> 4) Reverse the string 'Mansoura' using slicing

In [4]:
s = 'Mansoura'
r = s[::-1]
print(r)

aruosnaM

# <font color='red'> 5) Use List Comprehension to create a list of the first letters of ever-y word in the string below:

* st = 'Friendship is the tree of its seeds tender'

In [5]:
st = 'Friendship is the tree of its seeds tender'

first_letter = []
for i in st.split() :
    first_letter.append(i[0])
print(first_letter)

['F', 'i', 't', 't', 'o', 'i', 's', 't']

# <font color='cyan'> BONUS <font color='red'> 6) Create a class called car that include some valriables like : 
* name
* color
* age

In [7]:
class car :
  def __init__(self,name,color,age):
    self.name = name 
    self.color = color
    self.age = age

# <font color='red'> **Solve these problems with python**:<br>
<a href='https://www.hackerrank.com/challenges/python-string-split-and-join/problem'> **problem 1**
    <br>
    <br>
<a href='https://www.hackerrank.com/challenges/py-if-else/problem'> **problem 2**
<br>
<br>
<a href='https://codeforces.com/group/MWSDmqGsZm/contest/219158/problem/Y'> **problem 3**
    <br>
    <br>
<a href='https://www.hackerrank.com/challenges/list-comprehensions/problem'> **problem 4** <font color='cyan'> BONUS
    <br>
    <br>
<a href='https://www.hackerrank.com/challenges/swap-case/problem'> **problem 5** <font color='cyan'> BONUS
    <br>
    <br>
<a href='https://codeforces.com/group/MWSDmqGsZm/contest/219158/problem/X'> **problem 6** <font color='cyan'> BONUS
    <br>

In [9]:
#problem 1 

def split_and_join(line):
    word = line.split()
    join_word = "-".join(word)
    return join_word

if __name__ == '__main__':
    line = input()
    result = split_and_join(line)
    print(result)


# i have another solution but without this function
#  line = input()
#  print(line.replace(" " , "-"))

I love IEEE
I-love-IEEE

In [8]:
#problem 2

n = int(input())
if n > 0 :
    if n % 2 == 0 :
        if n in range(2,5):
            print("Not Weird")
        if n in range(6,21):
            print("Weird")
        if n > 20 :
            print("Not Weird")
    if n % 2 != 0 :
        print("Weird")
else :
    print("error")

10
Weird

In [10]:
#problem 3

A, B, C, D = map(int, input().split())
if A and B and C and D in range (2,10**9) :
    multiplication = A * B * C * D 
    last_two = multiplication % 100
    print(last_two)

5 7 2 4
80

In [ ]:
#problem 4

In [11]:
#problem 5 
def swap_case(s):
    return s.swapcase()

if __name__ == '__main__':
    s = input()
    result = swap_case(s)
    print(result)

NaDa
nAdA

In [12]:
#problem 6

l1, r1, l2, r2 = map(int, input().split())
first_interval = (l1, r1)
second_interval = (l2, r2)


if l1 == l2 and r2 < r1 :
    print("%s" " " "%s" % (l2, r2))
elif l1 < l2 and r1 < r2 :
    print("%s" " " "%s" % (l2, r1))
elif l1 > l2 and r1 < r2 :
    print("%s" " " "%s" % (l1, r1))
elif l1 < l2 and r1 > r2 :
    print("%s" " " "%s" % (l2, r2))
else :
    print("-1")

1 15 5 27
5 15